node_modules
.next
out
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
build_output.txt
tsc_output.txt
tsconfig.tsbuildinfo
build_output.txt
tsc_output.txt
tsconfig.tsbuildinfo
logos/
